{% extends 'base.html.twig' %}

{% block title %}Abonne index{% endblock %}

{% block body %}
    <h1>Abonne index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Roles</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonne in abonnes %}
            <tr>
                <td>{{ abonne.id }}</td>
                <td>{{ abonne.pseudo }}</td>
                {# EXO : Au lieu d'afficher les rôles sous forme de chaîne de caractères, 
                    vous devez afficher tous les roles de l'utilisateur en remplaçant
                        ROLE_ADMIN par Directeur
                        ROLE_BIBLIOTHECAIRE par Bibliothécaire
                        ROLE_USER par Abonné
                        ROLE_DEV par Développeur
                    chaque rôle séparé par une ","
                 #}
                <td>
                    {% for role in abonne.roles %}
                        {% if role == "ROLE_ADMIN" %}
                            Directeur
                        {% elseif role == "ROLE_BIBLIOTHECAIRE" %}
                            Bibliothécaire
                        {% elseif role == "ROLE_USER" %}
                            Abonné
                        {% elseif role == "ROLE_LECTEUR" %}
                            Lecteur
                        {% else %}
                            Autre
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ abonne.prenom }}</td>
                <td>{{ abonne.nom }}</td>
                <td>
                    <a href="{{ path('abonne_show', {'id': abonne.id}) }}">show</a>
                    <a href="{{ path('abonne_edit', {'id': abonne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('abonne_new') }}">Create new</a>
{% endblock %}
